/* SVG styling */
svg {
	width: 960px;
	height: 300px;
}
#spiralchart svg, #chart3 svg {
	height: 600px;
}
#chart4 svg {
	height: 470px;
}
path {
	stroke: #777;
	stroke-width: 0.1px;
}

.labels {
	fill: #aaa;
	font-weight: 200;
	letter-spacing: 1px;
}
.labels.segment {
	font-size: 16px;
}

#chart3 .labels {
	fill: #555;
}